#signupind_photobox{
	background-image: url(/img/banner_index.jpg);
	height: 70%;
}

.container-translucent-blue{
  margin-top: 200px;
	min-width: 350px;
}


.container {
    width: 100%;
		max-width: 100%;
		height:auto;
		margin: none;
		padding: none;
}



#login_button{
	background-color: #ef8c45;
	color: #f0f1f2;
	border: none;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right:4%;
	border-radius: 5px;
}
#login_button a:hover{
  background-color: #ef8c45;
  color:#f0f1f2;
}

.login_form{
	color: #ef8c45;
	font-family: raleway;
	font-weight: 400;

	text-align: left;
	margin-left: 30%;
	margin-top: 1.5%;
	margin-bottom: 8%;
}

tr{
	height: 35px;
}

td{
	width: 200px;
}

.text_input{
	width:290px;
}

a{
	text-decoration: none;
	color: #f0f1f2;
}
